<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="RollLabelProdPack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
		<!--<add name="SQLConnection" connectionString="Data Source=EROS;Initial Catalog=SBODemoUS_PF;Persist Security Info=True;User ID=sa;Password=B1Admin" />-->
		<add name="SAPConnection" connectionString="Data Source=sql;Initial Catalog=YanJanUS_PROD;Persist Security Info=True;User ID=sa;Password=Q58UDnRea5fE8NZ" providerName="System.Data.SqlClient"/>
		<add name="PMXConnection" connectionString="Data Source=sql;Initial Catalog=PMX_YanJanUS_PROD;Persist Security Info=True;User ID=sa;Password=Q58UDnRea5fE8NZ" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<!-- logging settings-->
		<add key="Logging" value="true"/>
		<add key="LoggingSource" value="RollProduction"/>
		<add key="LoggingText" value="Roll Production"/>
		<!-- command timreout settings-->
		<add key="SQLCommandTimeout" value="180"/>
		<!-- sap business one setting 9.2 -->
		<add key="SAPSERVERNAME" value="sql"/>
		<add key="SAPCOMPANY" value="YanJanUS_PROD"/>
		<add key="SAPUSER" value="Line1"/>
		<add key="SAPPASS" value="sapb1"/>
		<add key="SAPDBTYPE" value="dst_MSSQL2019"/>
		<add key="SAPLICENSESERVER" value="sql:30000"/>

		<add key="SAPUSER_LINE1" value="Line7"/>
		<add key="SAPPASS_LINE1" value="sapb1"/>

		<add key="SAPUSER_LINE2" value="Line7"/>
		<add key="SAPPASS_LINE2" value="sapb1"/>

		<add key="SAPUSER_LINE3" value="Line7"/>
		<add key="SAPPASS_LINE3" value="sapb1"/>

		<add key="SAPUSER_LINE4" value="Line7"/>
		<add key="SAPPASS_LINE4" value="sapb1"/>

		<add key="SAPUSER_LINE5" value="Line7"/>
		<add key="SAPPASS_LINE5" value="sapb1"/>

		<add key="SAPUSER_LINE6" value="Line7"/>
		<add key="SAPPASS_LINE6" value="sapb1"/>

		<add key="SAPUSER_LINE7" value="Line7"/>
		<add key="SAPPASS_LINE7" value="sapb1"/>

		<add key="SAPUSER_MIXLINE1" value="prodAppMix3"/>
		<add key="SAPPASS_MIXLINE1" value="sapb1"/>

		<add key="SAPUSER_MIXLINE2" value="prodAppMix3"/>
		<add key="SAPPASS_MIXLINE2" value="sapb1"/>

		<add key="SAPUSER_MIXLINE3" value="prodAppMix3"/>
		<add key="SAPPASS_MIXLINE3" value="sapb1"/>

		<add key="SAPUSER_MASKLINE1" value="prodAppMask1"/>
		<add key="SAPPASS_MASKLINE1" value="sapb1"/>

		<add key="SAPUSER_MASKLINE2" value="prodAppMask2"/>
		<add key="SAPPASS_MASKLINE2" value="sapb1"/>

		<add key="SAPUSER_MASKLINE3" value="prodAppMask3"/>
		<add key="SAPPASS_MASKLINE3" value="sapb1"/>

		<add key="SAPUSER_TUBLINE1" value="Line7"/>
		<add key="SAPPASS_TUBLINE1" value="sapb1"/>

		<add key="SAPUSER_TUBLINE2" value="Line7"/>
		<add key="SAPPASS_TUBLINE2" value="sapb1"/>

		<add key="SAPUSER_TUBLINE3" value="Line7"/>
		<add key="SAPPASS_TUBLINE3" value="sapb1"/>

		<add key="SAPUSER_TUBLINE4" value="Line7"/>
		<add key="SAPPASS_TUBLINE4" value="sapb1"/>

		<add key="SAPUSER_TUBLINE5" value="Line7"/>
		<add key="SAPPASS_TUBLINE5" value="sapb1"/>

		<add key="SAPUSER_TUBLINE6" value="Line7"/>
		<add key="SAPPASS_TUBLINE6" value="sapb1"/>

		<add key="SAPUSER_TUBLINE7" value="Line7"/>
		<add key="SAPPASS_TUBLINE7" value="sapb1"/>

		<add key="SAPUSER_TUBLINE8" value="Line7"/>
		<add key="SAPPASS_TUBLINE8" value="sapb1"/>

		<!-- sap business one transactions -->
		<add key="UseTransactions" value="true"/>
		<add key="RollBackForTesting" value="false"/>
		<!-- produmexSettings -->
		<add key="ProdumexDatebase" value="PMX_YanJanUS_PROD"/>
		<!-- crystal report settings - connection -->
		<add key="UserId" value="sa"/>
		<add key="Password" value="B1Admin"/>
		<add key="DatebaseName" value="YanJanUS_PROD"/>
		<add key="IntegratedSecurity" value="False"/>
		<!-- crystal report settings - direcotry -->
		<add key="ReportDirectory" value="C:\Users\jsnyder\Documents\Projects\Marena\Source Code\Reports\"/>
		<!-- smtp settings -->
		<add key="SMTPPort" value="25"/>
		<add key="SMTPHost" value="synesisintl-com.mail.protection.outlook.com"/>
		<add key="SMTPUseCredentials" value="false"/>
		<add key="SMTPUser" value=""/>
		<add key="SMTPPass" value=""/>
		<add key="SMTPUseTSL" value="false"/>
		<!-- email settings -->
		<add key="FromAddress" value="sap@synesisintl.com"/>
		<!-- email alert settings -->
		<add key="EmailAlerts" value="true"/>
		<add key="ToAddress" value="tbond@synesisintl.com"/>
		<add key="CCAddress" value="tbond@synesisintl.com"/>
		<add key="Subject" value="Roll Production Alert"/>
		<!-- email error settings -->
		<add key="EmailErrors" value="true"/>
		<add key="ErrorToAddress" value="tbond@synesisintl.com"/>
		<add key="ErrorCCAddress" value="tbond@synesisintl.com"/>
		<add key="ErrorSubject" value="Roll Production Exception"/>
		<!-- roll label prod pack settings -->
		<add key="SupplierId" value="YJWR"/>
		<add key="FactoryCode" value="U"/>
		<add key="LastBatch" value="1"/>
		<add key="LastRoll" value="1"/>
		<add key="LastPalletNo" value="1"/>
		<add key="DefaultItemCode" value="C270-176"/>
		<add key="DefaultIMRS" value="96888118"/>
		<add key="DefaultShift" value="A"/>
		<add key="DefaultNoOfSlitPositions" value="11"/>
		<add key="DefaultMachineNo" value="2"/>
		<add key="DefaultMaterialCode" value="P1"/>
		<add key="DefaultDie" value="T10"/>
		<add key="DefaultProdName" value="C0"/>
		<add key="DefaultItemDesc" value="P Formed Film Yanjan C270"/>
		<add key="PrintLocRollLabel4by6" value="C:\Produmex\TestTrigger"/>
		<add key="PrintLocRollLabel1by6" value="C:\Produmex\TestTrigger"/>
		<add key="PrintLocPack" value="C:\Users\tbond.SYNESISINTL\Documents\Clients\YanJan\PrintTest"/>
		<add key="BTTriggerLoc" value="C:\Users\tbond.SYNESISINTL\Documents\Clients\YanJan\PrintTest"/>
		<add key="PGDefault1InchLabelFormat" value="C:\Produmex\BTLabelFormats\4x6RollLabel.btw"/>
		<add key="PGDefault1InchLabelFormat" value="C:\Produmex\BTLabelFormats\1x6RollLabel.btw"/>
		<add key="PGDefaultCombLabelFormat" value="C:\Produmex\BTLabelFormats\CombRollLabel3.btw"/>
		<add key="PGDefaultScrapLabelFormat" value="C:\Produmex\BTLabelFormats\ScrapLabel.btw"/>
		<add key="PGDefaultPackLabelFormat" value="C:\Produmex\BTLabelFormats\PacLabel2.btw"/>
		<add key="PGDefaultPackLabelFormatOld" value="C:\Produmex\BTLabelFormats\PacLabel.btw"/>
		<add key="PGDefaultResmixLabelFormat" value="C:\Produmex\BTLabelFormats\ResmixLabel.btw"/>
		<add key="MedlineDefaultPackLabelFormat" value="C:\Produmex\BTLabelFormats\MedlinePackLabel.btw"/>
		<add key="RocklineDefaultPackLabelFormat" value="C:\Produmex\BTLabelFormats\Rockline Bundle Label 2.btw"/>
		<add key="PGDefaultMaskLabelFormat" value="C:\Produmex\BTLabelFormats\MaskLabel.btw"/>
		<add key="MedlineDefaultRollLabelFormat" value="C:\Produmex\BTLabelFormats\MedlineRollLabel.btw"/>
		<add key="RocklineDefaultRollLabelFormat" value="C:\Produmex\BTLabelFormats\Rockline Roll Label.btw"/>
		<!-- Generic label formats (fallback for unknown customers) -->
		<add key="GenericDefaultRollLabelFormat" value="C:\Produmex\BTLabelFormats\GenericRollLabel.btw"/>
		<add key="GenericDefaultBundleLabelFormat" value="C:\Produmex\BTLabelFormats\GenericBundleLabel.btw"/>
		<add key="GenericDefaultCoreLabelFormat" value="C:\Produmex\BTLabelFormats\GenericCoreLabel.btw"/>
		<add key="PackPrinterName" value="SII-COLOR-COPIER"/>
		<add key="TubPalletPrinterName" value="SII-COLOR-COPIER"/>
		<add key="LabelPrintExtension" value=".dat"/>
		<add key="DefaultPackCopies" value="4"/>
		<add key="PackingMtlLocation" value="PACKMTL"/>
		<add key="ScrapOffsetCode" value="_SYS00000000604"/>
		<add key="ScrapLocCode" value="SCRAP"/>
		<add key="HoldStatus" value="HOLD"/>
		<add key="HoldLocation" value="HOLDAREA"/>
		<add key="ScrapStatus" value="RELEASED"/>
		<add key="DefaultStatus" value="RELEASED"/>
		<add key="DefaultUom" value="Kgs"/>
		<add key="Resmix001ToLines" value="FF1,FF2,FF4,FF5,FF6"/>
		<add key="Resmix002ToLines" value="FF3,FF4"/>
		<add key="MaskUOMLabel" value="Units"/>
		<add key="PGDefaultTubCaseLabelFormat" value="C:\Produmex\BTLabelFormats\TubCaseLabel.btw"/>
		<add key="PGDefaultTubPalletLabelFormat" value="C:\Produmex\BTLabelFormats\TubPalletLabel.btw"/>
		<add key="GenericTubLineCode" value="TUB"/>
		<add key="GenericTubLineMachineNo" value="T0"/>
		<add key="GenericTubInputLocationCode" value="TUBRAW1"/>
		<add key="GenericTubOutputLocationCode" value="TUBFIN1"/>
		<add key="GenericTubPrinter" value="DT-026_Zebra"/>
		<add key="MedlineCustomerID" value="C1007"/>
		<add key="RocklineCustomerID" value="C1020"/>
	</appSettings>
	<userSettings>
		<RollLabelProdPack.Properties.Settings>
			<setting name="MachineNoSelectedIndex" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="MaterialCodeSelectedIndex" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="NoOfSlitPositions" serializeAs="String">
				<value>11</value>
			</setting>
			<setting name="ItemCode" serializeAs="String">
				<value>C270-176</value>
			</setting>
			<setting name="IRMS" serializeAs="String">
				<value>96888118</value>
			</setting>
		</RollLabelProdPack.Properties.Settings>
	</userSettings>
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="file" value="C:\Logs\RollLabelProdPack.log"/>
			<param name="appendToFile" value="True"/>
			<param name="encoding" value="utf-8"/>
			<param name="staticLogFileName" value="False"/>
			<param name="RollingStyle" value="Size"/>
			<param name="MaxSizeRollBackups" value="10"/>
			<param name="MaxFileSize" value="10MB"/>
			<param name="threshold" value="Debug"/>
			<layout type="log4net.Layout.PatternLayout">
				<param value="%d [%t] %-5p %c{2} - %m%n" name="conversionPattern"/>
			</layout>
		</appender>

		<root>
			<level value="INFO"/>
			<appender-ref ref="FileAppender"/>
		</root>
	</log4net>
</configuration>
