USE [YanJanUS_Pilt]
GO
/****** Object:  StoredProcedure [dbo].[_sii_rpr_spi_addRoll]    Script Date: 8/24/2018 4:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Tom Bond, Synesis Intl. Inc
-- Create date: 08/01/2018
-- Description:	Add Roll
-- =============================================
ALTER PROCEDURE [dbo].[_sii_rpr_spi_addNewBundle]
@luid int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
DECLARE	@itemCode as nvarchar(50),
    @itemName as nvarchar(100),
	@irms as nvarchar(20),
	@yjnOrder as nvarchar(50),
	@sapOrder as int,
    @pmxsscc as nvarchar(20),
	@ssccNoCheckDigit as nvarchar(17),
	@ssccWithCheckDigit as nvarchar(18),
	@palletNo int,
	@checkDigit int


	SELECT TOP 1 @pmxsscc = inv.SSCC, @itemCode = inv.ItemCode, @itemName = inv.ItemName, @irms = OITM.U_SII_IRMS, 
		@yjnOrder = OWOR.U_SII_YanJanOrderId, @sapOrder = OWOR.DocNum
     FROM [PMX_INVENTORY_REPORT_DETAIL] inv INNER JOIN [@SII_ROLLS] rolls on inv.BatchNumber1 = rolls.Code
     INNER JOIN OWOR ON OWOR.DocNum = rolls.U_SII_ProdOrder 
	 INNER JOIN OITM ON OITM.ItemCode = inv.ItemCode
	 WHERE LUID = @luid

     EXEC @palletNo = _sii_rpr_spi_incrementPGPalletNo @luid, @yjnOrder
	 SELECT @ssccNoCheckDigit = '11230000034' + right('000000' +rtrim(@palletNo),6)
	 SELECT @ssccWithCheckDigit = dbo.fnGetSSCCCheckDigit( @ssccNoCheckDigit)
   
	 
	INSERT INTO [dbo].[@SII_PG_BUNDLE]([Name],[U_SII_InternalSSCC],[U_SII_ItemCode],[U_SII_ItemName]
           ,[U_SII_IRMS],[U_SII_YJNOrder],[U_SII_SSCC],[U_SII_SAPOrder])
     VALUES ('',@pmxsscc,@itemCode,@itemName ,@irms ,@yjnOrder ,@ssccWithCheckDigit, @sapOrder)

     
END

