USE [YanJanUS_Pilt]
GO
/****** Object:  StoredProcedure [dbo].[_sii_rpr_sps_getRollsForProdOrder]    Script Date: 11/13/2018 11:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Tom Bond, Synesis Intl. Inc
-- Create date: 08/01/2018
-- Description:	Get Rolls for order
-- =============================================
ALTER PROCEDURE [dbo].[_sii_rpr_sps_getRollsForProdOrder]
@yjnOrderNo nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SELECT rolls.DistNumber as RollNo, @yjnOrderNo as YJNOrderNo, OITM.ItemCode, OITM.ItemName,
	OITM.U_SII_IRMS as IRMS, inv.SSCC as SSCC, inv.Quantity as Kgs
FROM OBTN rolls
INNER JOIN [PMX_INVENTORY_REPORT_DETAIL] inv on inv.BatchNumber1 = rolls.DistNumber
INNER JOIN OWOR ON  OWOR.U_SII_YanJanOrderId = @yjnOrderNo
INNER JOIN OITM ON OITM.ItemCode = OWOR.ItemCode
WHERE 	convert(nvarchar(50),rolls.Notes) = @yjnOrderNo
END
